.container {
    background: #646472;
    display: inline-block;
    border: #3a3a42 solid 10px;

    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin: 0px;
    padding: 0px;
}

input[type="number"] { width: 37px; }



#board {
    height: 500px;
    background: #9595af;
}

#buttons { padding: 5px; border-top: #3a3a42 solid 10px; }

#boxes {
    column-count: 2;
    text-align: left;

    padding: 5px;

    border-top: #3a3a42 solid 10px;
    border-bottom: #3a3a42 solid 10px;
}

#ballsSlider { padding: 5px; }

#box {
    padding: 10px;
    display: inline-block;
}

#slider { width: 95%; }

body {
    color: #f8f8f8;
    font-family: Andale Mono, monospace;
}
